body{
    background: url(https://pbs.twimg.com/media/EVEty6XUUAEwn9g.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: contain;
}